info:
  app:
    name: @project.name@
    description: @project.description@
    version: @project.version@
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@
---
server:
  port: 8080
spring:
  profiles:
    - development
    - testing
  jpa:
    hibernate:
      ddl-auto: create
      naming:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:mem:request-trap;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password: admin
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true